* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-clr: #1F49B7;
  --secondary-clr: #E5E9F4;
  --font-primary-clr: #1D2228;
  --font-secondary-clr: #888;
}

body {
  /* background-color: red; */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCFCFA;
}

a {
  color: inherit;
  text-decoration: none;
}
