.post__details {
    /* background-color: red; */
}

.post__details .post__details__content {
    /* background-color: green; */
    padding: 2rem;
    width: min(800px , 90%);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
}

.post__details .post__details__content a:first-of-type {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
}

.post__details .post__details__content small.hash__id {
    background-color: var(--secondary-clr);
    border-radius: 5px;
    font-size: 11px;
    width: fit-content;
    padding: 6px 14px;
}

.post__details .post__details__content .post__details__details {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 13px;
    font-weight: 200;
    color: var(--font-secondary-clr);
}

.post__details .post__details__content .post__details__post {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1.8rem;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 0 8px #ddd;
}

.post__details .post__details__content .post__details__post .profile {
    display: flex;
    gap: 20px;
    align-items: center;
}

.post__details .post__details__content .post__details__post .profile .img {
    border-radius: 50px;
    background-color: var(--secondary-clr);
    padding: .8rem;
    color: var(--primary-clr);
}

.post__details .post__details__content .post__details__post .profile .profile__username small{
    color: var(--font-secondary-clr);
}

.post__details .post__details__content .post__details__post p:nth-last-child(1) {
    line-height: 1.6;
    font-size: 14px;
}